.wrap {
  width: 80%;
  margin: 20px auto;
  .defnition {
    border: 2px solid;
    padding: 30px;
    text-align: center;
    font-weight: bold;
  }
  .button_wrapper {
    text-align: center;
    .button {
      display: inline-block;
    }
  }
  .bold{
  font-weight: bold;
  }
}
